* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* header section start */
.headerSection {
    background-image: url("../images/donation.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.headerSection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}
.headerDescription h1 {
    font-size: 65px;
    color: #fff;
}
.headerDescription p {
    margin: 30px auto;
    color: whitesmoke;
    width: 50%;
}


.donateButton {
    background-color: #93C6E7;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.donateButton:hover {
    background-color: #AEE2FF;
    letter-spacing: 5px;
}
/* header section end */

/* donateNow section start */
.donateNow {
    text-align: center;
    margin: 100px 0 100px 0;
}
.donateDescription h2 {
    font-size: 42px;
    font-weight: bold;
}
.donateDescription p {
    margin: 20px auto 50px auto;
    width: 30%;
    color: #828282;
}

.donate {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    padding: 0 200px;
    gap: 50px;
}
.donateAmount p {
    background-color: #b9f3fc19;
    padding: 30px 80px;
    display: inline-block;
    border-radius: 7px;
    font-size: 34px;
    cursor: pointer;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 7%);
    border: 1px solid #b9f3fc74;
    transition: all .5s ease-in-out;
}
.donateAmount p:hover {
    transform: scale(1.1);
    letter-spacing: .5px;
    border: 1px solid #AEE2FF;
    background-color: #b9f3fc33;
}
#populerAmount {
    transform: scale(1.07);
    letter-spacing: .5px;
    border: 1px solid #93C6E7;
}

.donateOtherAmount {
    margin: 50px 0 30px 0;
    text-align: center;
}
.donateOtherAmount input {
    padding: 10px 40px;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 4%);
    border: 1px solid #b9f3fc74;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    color: #828282;
    font-size: 20px;
    transition: all .5s ease;
}
.donateOtherAmount input:focus {
    outline: none;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 10%);
    border: 1px solid #93C6E7;
}

/* donateNow section end */

/* donation plan section start */
.donation {
    text-align: center;
    margin-bottom: 100px;
}

.donationDescription {
    margin-bottom: 50px;
}
.donationDescription h2 {
    font-size: 42px;
    font-weight: bold;
}
.donationDescription p {
    color: #828282;
    width: 30%;
    margin: 20px auto;
}

.donationPlans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
}
.donationPlan {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 60px 25px;
}
.donationPlan:first-child {
    background-color: #aee3ff52;
}
.donationPlan:nth-child(2) {

    background-color: #fedeff85;
}
.donationPlan:last-child {
    background-color: #aee3ff52;
}
.donationPlan img {
    width: 60px;
    height: 60px;
}
.donationPlan h3 {
    text-transform: capitalize;
    font-size: 24px;
    margin: 40px 0 20px 0;
    transition: all .5s ease-in-out;
}
.donationPlan:hover h3 {
    letter-spacing: .7px;
}
.donationPlan p {
    text-align: justify;
    color: #828282;
}
/* donation plan section end */

/* contributeSection start */
.contributeSection {
    background-color: #b9f3fc10;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.contributeDetails {
    width: 720px;
    margin: 0 auto;
}
.contributeDetails h2 {
    font-size: 42px;
}
.contributeDetails p {
    margin: 30px 0 50px 0;
    width: 90%;
    color: #828282;
}

.contributeImg {
    overflow: hidden;
    transition: all .5s ease-in-out;
    width: 720px;
    border-radius: 20px;
    margin: 0 auto;
}
.contributeImg img {
    width: 100%;
    border-radius: 20px;
    transition: all .9s ease-in-out;
}
.contributeImg:hover img {
    transform: scale(1.5);
}
/* contributeSection end */










/* media query start  */
@media (max-width: 1674.99px) {

    /* donateNow section start */
    .donate {
        grid-template-columns: repeat(5, 1fr);
        padding: 0 100px;
        gap: 20px;
    }
    .donateAmount p {
        width: 100%;
        padding: 20px;
    }
    .donateDescription p {
        width: 50%;
    }
    /* donateNow section end */

    /* contributeSection start */
    .contributeDetails {
        width: 520px;
    }

    .contributeImg {
        width: 520px;
    }
    /* contributeSection end */

}


@media (max-width: 1100.99px) {

    /* donateNow section start */
    .donate {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 100px;
        gap: 10px;
    }
 
    .donateAmount p {
        width: 100%;
    }
    .donateDescription p {
        width: 70%;
    }
    /* donateNow section end */

    /* donation Plan section start */
    .donationDescription p {
        width: 50%;
    }
    .donationPlan {
        padding: 30px 10px;
    }
    /* donation plan section end */    

    /* contributeSection start */
    .contributeDetails {
        width: 380px;
    }
    .contributeDetails h2 {
        font-size: 32px;
    }    
    .contributeImg {
        width: 380px;
    }
    /* contributeSection end */

}

@media (max-width: 800.99px) {

    /* donateNow section start */
    .donate {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 10px;
    }

    .donateAmount p {
        width: 90%;
        padding: 10px;
        font-size: 32px;
    }

    .donateOtherAmount input {
        width: 90%;
    }
    /* donateNow section end */


}

@media (max-width: 768.99px) {

    /* header section start */
    .headerSection {
        height: 400px;
    }
    .headerDescription {
        padding: 0 5px;
    }
    .headerDescription h1 {
        font-size: 38px;
    }
    .headerDescription p {
        width: 100%;
    }
    /* header section end */

    /* donateNow section start */
    .donate {
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }
    .donateAmount p {
        width: 100%;
        padding: 10px;
        font-size: 24px;
    }
    .donateOtherAmount input {
        width: 90%;
    }
    /* donateNow section end */

    /* donation Plan section start */
    .donationDescription p {
        width: 90%;
    }
    .donationPlans {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .donationDescription h2 {
        font-size: 32px;
    }
    /* donation plan section end */
    /* contributeSection start */
    .contributeSection {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .contributeDetails {
        width: 90%;
    }
    .contributeDetails h2 {
        font-size: 32px;
    }    
    .contributeImg {
        width: 90%;
        margin-top: 30px;
    }
    /* contributeSection end */

}
/* media query end  */